{{ define "webpagetitle" }}let me in | file uploader{{ end }}

{{ define "content" }}

<section class="login-container">
  <h2>login/signup</h2>
  <form action="/login" method="post">
    <input
      type="text"
      name="username"
      placeholder="username"
      required
      value="{{ .Username }}"
    />
    <input type="password" name="password" placeholder="password" required />
    <button type="submit">let me in</button>
    <span>
      {{ .Error }}
    </span>
  </form>
</section>

{{ end }}
