{{ define "webpagetitle" }}upload | file uploader{{ end }}

{{ define "content" }}

<section class="upload-container">
  <h3>upload successful</h3>
  <p>following files have been uploaded</p>
  <ol>
    {{ range . }}
    <li>
      <a href="/download/?file={{ .Filepath }}"> {{ .OGFilename }}</a>
    </li>
    {{
      end
    }}
  </ol>
  <a href="/">Go back to home</a>
</section>

{{ end }}
